body
{
    background-color: black;
}
h1{
    text-align: center;
}
#players
{
    display: grid;
    grid-template-columns: repeat(4,auto);
    gap: 20px;
}
.player
{
    height: 400px;
    width: 300px;
    box-shadow: 5px 5px 30px  white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
img{
    height: 150px;
    width: 200px;
    border-radius: 5px;
}
.player:hover
{
    background-color: wheat;
    transform: scale(1.1);
}
img:hover{
    transform: scale(1.1)  ;
    
}
h1{
    color: red;
}
