#modal
{
    display: none;
    border: 1px solid;
    width: 200px;
    height: 150px;
    text-align: center;
    justify-content: center;
    box-shadow: 8px 5px 6px black;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(500px) translateY(200px);
}

body
{
    align-items: center;
    padding-left: 550px;
    padding-top: 200px;
   
  
    
}
#xmark
{
    height: 10px;
}

button{
    border-radius: 15px;
    border: 1px white;
}

